@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Waste Disruptors<br /><br /></h1>
    
</div>
<div class=" text-body text-md-center">
    <h4>  A New Take On Waste Collection</h4>
    <p> We charge Per pickup rather than a flat fee like most collectors.<br />
        * $20 dollars per collection.<br />
        * Suspend service for any period of time.<br />
        * $100 for any non standar pickup<br />
    <br />
    Select the register link above to use our revolutionary product.
    @*<a class ="nav-link input-group-text" asp-controller="Account" asp-action="Register">Create New Account</a>*@</p>
</div>

