@model GarbageCollection.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        Here you can select a suspension of service for a period of days and / or a special pickup date
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName" />
            <input type="hidden" asp-for="Zip" />
            <input type="hidden" asp-for="Street" />
            <input type="hidden" asp-for="City" />
            <input type="hidden" asp-for="State" />
            <input type="hidden" asp-for="Zip" />
            <input type="hidden" asp-for="SpecialPickup" />
            <input type="hidden" asp-for="StartSuspend" />
            <input type="hidden" asp-for="EndSuspend" />
            <input type="hidden" asp-for="LastPickUp" />
            <div class="form-group">
                <label asp-for="SpecialPickup" class="control-label"></label>
                <input asp-for="SpecialPickup" class="form-control" />
                <span asp-validation-for="SpecialPickup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartSuspend" class="control-label"></label>
                <input asp-for="StartSuspend" class="form-control" />
                <span asp-validation-for="StartSuspend" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndSuspend" class="control-label"></label>
                <input asp-for="EndSuspend" class="form-control" />
                <span asp-validation-for="EndSuspend" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
